# Ignore everything
/*

# Code
!/src

# GitHub
!/.github
!/.gitignore
!/HEADER
!/LICENSE
!/README.md

# Gradle files
!/gradle
!/build.gradle.kts
!/settings.gradle.kts
!/gradle.properties
!/checkstyle.xml
!/gradlew
!/gradlew.bat

# Third party configs
!/crowdin.yml
