# Ignore everything
/*

!/.github
!/gradle
!/src

!/.gitignore
!/build.gradle.kts
!/checkstyle.xml
!/crowdin.yml
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/LICENSE
!/README.md
!/settings.gradle.kts
